<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teachers List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1 class="h1">
    {% if disciple_students %}
         {{ disciple_students['Disciple'] }}
    </h1>
        <ul>
            {% for student_name, student_id in disciple_students['Student'].items() %}
                <div class="studentUl">
                    <li>{{ student_name }} (ID: {{ student_id }})</li>
                    <p><a href="/disciplines/student/{{student_id}}">[Оценки]</a></p>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет студентов для этой дисциплины</p>
    {% endif %}
    <div><a href="/">назад</a></div>

</body>
</html>