       <h2>Добавить оценку по id предмета или ученика:</h2>
    <form action="{{ url_for('create_grade_route') }}" method="post">
          {% for student_name, student_id in disciple_students['Student'].items() %}
            <input type="hidden" name="student_id" value="{{ student_id }}">
         {% endfor %}

            <label for="discipline">Выберите дисциплину:</label>
            <select name="discipline_id" id="discipline">
                {% for disciple in student_info['disciple'].keys() %}
                    <option value="{{ disciple }}">{{ disciple }}</option>
                {% endfor %}
            </select>

            <label for="grade">Оценка:</label>
            <input type="number" name="grade" id="grade" required>

            <label for="date">Дата:</label>
            <input type="date" name="date" id="date" required>

            <button type="submit">Добавить</button>
        </form>